<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu"></i></button>
    </div>
    <!-- logo -->
    <div class="navbar-brand">
      <a href="index.html">Blog App</a>
    </div>
    <!-- end logo -->
    <div class="navbar-right">
      <!-- search form -->
      <form id="navbar-search" class="navbar-form search-form">
        <input value="" class="form-control" placeholder="Search here..." type="text">
        <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
      </form>
      <!-- end search form -->
      
    </div>
  </div>
</nav>
<!-- END NAVBAR -->
